@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-relaxed;
  font-family: "IBM Plex Sans", sans-serif;
}

.header-fixed {
  @apply fixed z-[999] bg-opacity-70 transition ease-in-out;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.topbar-ic {
  @apply text-slate-700 hover:text-sky-500 focus:text-sky-500 transition ease-in-out duration-300;
}

.slide-out {
  width: 0px;
  transition: width 0.3s;
}

.slide-in {
  @apply shadow-left;
  width: 256px;
  transition: width 0.3s;
}

.hamburger-in {
  width: 300px;
  transition: width 0.3s;
}

.topmenu-down {
  @apply shadow-lg;
  max-height: 390px;
  height: 100%;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.4s;
}

.topmenu-up {
  height: 0%;
  transition: height 0.3s ease-in-out;
}

.avatar-down {
  @apply shadow-lg;
  height: 180px;
  transition: height 0.3s;
  transition-delay: 0.4s;
}

.avatar-up {
  height: 0px;
  transition: height 0.3s;
}

.notif-down {
  @apply shadow-lg;
  height: 390px;
  transition: height 0.3s;
  transition-delay: 0.4s;
}

.notif-up {
  height: 0px;
  transition: height 0.3s;
}

.search-down {
  @apply shadow-lg;
  height: 90px;
  transition: height 0.3s;
  transition-delay: 0.4s;
}

.search-up {
  height: 0px;
  transition: height 0.3s;
}

.menu-down {
  height: auto;
  transition: height 0.3s;
}

.menu-up {
  height: 0;
  transition: height 0.3s;
}

.collapse-active > span:nth-child(2) {
  @apply rotate-90;
}
